{% extends 'base.html' %}
{% block content %}
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

<div class="container">

{# Prescriptions chart #}
  <div id="container" style="width: 100%;">
    <canvas id="prescriptions-chart" data-url="{% url 'prescriptions-chart' %}"></canvas>
  </div>
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
  <script>
    $(function () {
      var $prescriptionsChart = $("#prescriptions-chart");
      $.ajax({
        url: $prescriptionsChart.data("url"),
        success: function (data) {
          var ctx = $prescriptionsChart[0].getContext("2d");
          new Chart(ctx, {
            type: 'bar',
            data: {
              labels: data.labels,
              datasets: [{
                label: 'Refills',
                backgroundColor: '#f4a261',
                data: data.data
              }]          
            },
            options: {
              responsive: true,
              legend: {
                position: 'top',
              },

              scales: {
                yAxes: [{
                            display: true,
                            ticks: {
                                beginAtZero: true,
                                steps: 10,
                                max: 20
                            }
                        }]
              },
              title: {
                display: true,
              }
            }
          });
        }
      });
    });
  </script>

{# Add prescription button #}
  <a href="{% url 'prescriptions_form' %}">
    <button type="button" class="btn btn-primary" id="post-btn">
      Add Prescription
    </button>
  </a>

  <div class="container">
    <div class="row">
      <div class="cold-md">
        <div class="card card-body">
          <table class="table">
            <tr>
              <th>Last Name</th>
              <th>Medication</th>
              <th>Refills</th>
              <th>Edit</th>
              <th>Delete</th>
            </tr>
            {% for prescription in prescriptions_list%}
              <tr>
                <td>{{prescription.patient}}</td>
                <td>{{prescription.medication}}</td>
                <td>{{prescription.refills}}</td>
                <td>
{# prescription Edit Button #}
                  <a href="{% url 'prescription_edit' prescription.pk %}">
                    <button type="button" class="btn btn-info">
                      <span class="glyphicon glyphicon-pencil"></span>
                    </button>
                  </a>
                </td>
                <td>
{# Post Detail Button #}                
                  <a href="{% url 'delete_prescription' prescription.pk %}">
                    <button type="button" class="btn btn-danger">
                      <span class="glyphicon glyphicon-trash"></span>
                    </button>
                  </a>



                </td>
              </tr>
            {% endfor %}
          </table>
        </div>
      </div>
    </div>
  </div>

  



</div>
{% endblock %}