{% extends 'base.html' %}
{% block content %}
{% load static %}

<h1>Welcome to the prescriptions page</h1>
<a href="{% url 'prescriptions_form' %}">
    <button type="button" class="btn btn-success">
      <span class="glyphicon glyphicon-plus"></span>
    </button>
  </a>
{% for prescription in prescriptions_list%}
    <p>Last Name: {{prescription.patient}}</p>
    <p>Medication: {{prescription.medication}}</p>
    <p>Refills: {{prescription.refills}}</p>
    <hr/>
{% endfor %}



{% endblock %}