#apt-box {
    border-radius:20px;
    margin:20px;
    background-image: linear-gradient(90deg, #eeaf73 0%, #e3a438 100%);
    color:#F0F4EF;
    height: 100px;
}
#apt-header, #apt-count {
    text-align:center;
    font-size: 24px;
}
#post-btn {
  width:100%;
  height: 35px;
  background-image: linear-gradient(90deg, #73b9ee 0%, #1292f4 100%);
  border:none;
  border-radius: 5rem;
  font-size: 18px;
  margin: 10px;
  
}
table {
    font-family: arial, sans-serif;
    font-size: 16px;
   
  }
  
  td, th {
    
    text-align: left;
    padding: 8px;
  }

 /* 
 tr:nth-child(even) {
    background-color: #e1e1e1;
    
  }
*/
