{% extends 'base.html' %}
{% block content %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
<div class="container">
  {# Add doctor #}
  <a href="{% url 'doctor' %}">
    <button type="button" class="btn btn-primary" id="post-btn">
      Add Doctor
    </button>
  </a>

<div class="container">
  <div class="row">
    <div class="col-md">
      <div class="card card-body">
        <table class="table">
          <tr>
            <th>Name</th>
            <th>Focus</th>
            <th>Bio</th>
            <th>Edit</th>
            <th>Delete</th>
          </tr>
          {% for doctor in doctor_list %}
          <tr>
            <td>{{ doctor.doctor}}</td>
            <td>{{doctor.focus}}</td>
            <td>{{doctor.doctor_bio}}</td>
            <td>
              <a href="{% url 'doctor_edit' doctor.pk %}">
                <button type="button" class="btn btn-info">
                  <span class="glyphicon glyphicon-pencil"></span>
                </button>
              </a>
            </td>
            <td>
              <a href="{% url 'doctor_delete' doctor.pk %}">
                <button type="button" class="btn btn-danger">
                  <span class="glyphicon glyphicon-trash"></span>
                </button>
              </a>
            </td>
          {% endfor %}
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
  
    





</div>    
{% endblock %}