{% extends 'base.html' %}
{% block content %}
<div class='container'>
  {# Title/Header #}
  
  <h3 class="round3" style="text-align:center;">Appointments</h3>
  
  {# Show number of appointments left #}

  <p>Appointments Remaining: {{post_list.count}}</p>
    
  {# Green button to add post #}

  <a href="{% url 'post' %}">
    <button type="button" class="btn btn-success">
      <span class="glyphicon glyphicon-plus"></span>
    </button>
  </a>

  <br/>

  {# Post Display #}
  {% for post in post_list %}
    <div class="row"> 
      <div class='col-md-8'>
        <li class="list-group-item ">
          <p>Patient Name:</p>
            <a href="{% url 'detail' post.pk %}">{{ post.first_name }} {{ post.last_name }}</a>  
            <br/>
            <br/>
            <br/>
            <p>Doctor Name:</p>
          <p>{{ post.doctor }}</p>
          <p>Symptoms: {{post.tags.all}}</p>

          <div class='buttons' style="display:inline-flex">
            {# Post Detail Button #}
            <div>
              <a href="{% url 'detail' post.pk %}">
                <button type="button" class="btn btn-info">
                  <span class="glyphicon glyphicon-open"></span>
                </button>
              </a>
            </div>

            {# Post Edit Button #}
            <div>
              <a href="{% url 'edit' post.pk %}">
              <button type="button" class="btn btn-info">
                <span class="glyphicon glyphicon-pencil"></span>
              </button>
              </a>
            </div>

            {# Post Delete Button #}
            <div>
              <a href="{% url 'delete' post.pk %}">
              <button type="button" class="btn btn-danger">
                <span class="glyphicon glyphicon-trash"></span>
              </button>
              </a>
            </div>
          </div>
        </div>



        </li> 
      </ul>
      <br>
    </div>

      


    
  {% endfor %}




  </div>
  </div>
{% endblock %}