{% extends 'base.html' %}
{% block content %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
<body>
<div class='container'>
  

{# Show number of appointments left #}
<div id="apt-row" class='row'>

  <div class="col-md-4">
    <div id="apt-box" class="card">
      <div id="apt-header" class='card-header'>
        <p>Total</p>
      </div>
      <div id="apt-count" class="card-body">
        <p>{{post_list.count}}</p>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div id="apt-box" class="card">
      <div id="apt-header" class='card-header'>
        <p>Traumas</p>
      </div>
      <div id="apt-count" class="card-body">
        <p>{{trauma_count}}</p>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div id="apt-box" class="card">
      <div id="apt-header" class='card-header'>
        <p>Pediatrics</p>
      </div>
      <div id="apt-count" class="card-body">
        <p>{{pediatrics_count}}</p>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div id="apt-box" class="card">
      <div id="apt-header" class='card-header'>
        <p>Optometries</p>
      </div>
      <div id="apt-count" class="card-body">
        <p>{{optometry_count}}</p>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div id="apt-box" class="card">
      <div id="apt-header" class='card-header'>
        <p>Nuerologies</p>
      </div>
      <div id="apt-count" class="card-body">
        <p>{{nuerology_count}}</p>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div id="apt-box" class="card">
      <div id="apt-header" class='card-header'>
        <p>Psychiatrics</p>
      </div>
      <div id="apt-count" class="card-body">
        <p>{{psychiatry_count}}</p>
      </div>
    </div>
  </div>
</div>

{# Add post #}
  <a href="{% url 'post' %}">
    <button type="button" class="btn btn-primary" id="post-btn">
      Add Appointment
    </button>
  </a>

<div class="container">
<div class="row">
  <div class="col-md">
    <div class="card card-body">
      <table class="table">
        <tr>
          <th>Last Name</th>
          <th>First Name</th>
          <th>Doctor</th>
          <th>Department</th>
          <th>Building</th>
          <th>Description</th>
          <th>Edit</th>
          <th>Delete</th>
        </tr>
        {% for post in post_list %}
          <tr>
            <td>{{post.last_name}}</td>
            <td>{{post.first_name}}</td>
            <td>{{post.doctor}}</td>
            <td>
              {% for tag in post.tags.all %}
                {{tag}}
              {% endfor %}
            </td>
            <td>{{post.building}}</td>
            <td><a href="{% url 'detail' post.pk %}">Description</a></td>
            <td>
              <div>
                <a href="{% url 'edit' post.pk %}">
                  <button type="button" class="btn btn-info">
                    <span class="glyphicon glyphicon-pencil"></span>
                  </button>
                </a>
              </div>
            </td>
            <td>
              <div>
                <a href="{% url 'delete' post.pk %}">
                  <button type="button" class="btn btn-danger">
                    <span class="glyphicon glyphicon-trash"></span>
                  </button>
                </a>
              </div>
            </div>
          </td>
          </tr>
        {% endfor %} 
      </table>
    </div>
  </div>
</div>

</div>


  



  </div>
  </div>
<script type="text/javascript" src="../static/js/index-page.js"></script>
  </body>

{% endblock %}